registry = https://mmrepo.jfrog.io/mmrepo/api/npm/npm-virtual
_auth = am9leS5zY290dEBhY3VyaXMuY29tOkFLQ3A1Wm1IUDdES1JSOEFHbUZNWWJZd0pnVGN6TTVzdnFVZWU0TFJtSlV4SFZBa25EVm5NYkVzcFN4cXU3V1A4QVZuM1RwVzc=
always-auth = true
